.trendy {
    padding: 40px 30px;
    padding-top: 8ch;
}

.trendy-container {
    height: 55ch;
    overflow: auto;
}
.trending {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tren {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.num {
    font-size: 35px;
    font-weight: bolder;
    color: #87ceeb;
}
.tren-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #87ceeb;
    padding: 10px 20px;
}
.tren-con:hover {
    background-color: rgba(85, 83, 83, 0.171);
}
.tren-tag {
    background-color: #333;
    font-size: 10px;
    color: white;
    padding: 3px;
    width: fit-content;
    border-radius: 3px;
}
.tren-links {
    color: black;
    font-size: 13px;
}